
body::before {
    background-image: url("images/bar-image.png");
    background-size: cover;
    background-attachment: fixed;
    content: '';
    will-change: transform;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
@media (max-width: 512px)  and (-webkit-min-device-pixel-ratio: 1.5),
       (max-width: 512px)  and (min-resolution: 1.5dppx),
       (max-width: 1024px) and (-webkit-max-device-pixel-ratio: 1.5),
       (max-width: 1024px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url("images/bar-image.png");
    background-size: cover;
  }
  }
@media (min-width: 513px)  and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 513px)  and (max-width: 1024px) and (min-resolution: 1.5dppx),
       (min-width: 1025px) and (max-width: 2048px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (max-width: 2048px) and (max-resolution: 1.5dppx)  {
  body::before {
    background-image: url("images/bar-image.png");
    background-size: cover;
  }
}
@media (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1.5),
       (min-width: 1025px) and (min-resolution: 1.5dppx),
       (min-width: 2049px) and (-webkit-max-device-pixel-ratio: 1.5),
       (min-width: 2049px) and (max-resolution: 1.5dppx) {
  body::before {
    background-image: url("images/bar-image.png");
    background-size: cover;
  }
}

body .demo-blog {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-image: url("images/bar-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1;
}
p {
  margin: 0.5rem;
  font-size: 1.5rem;
}
#search {
  margin-right: 50px;
  margin-left: 0px;
  background-color: #827e45;
  color: white;
}
#random-cocktail {
  background-color: #827e45;
  color: white;
}
.mdl-card {
  border-radius: 30px;
}
.demo-blog .demo-blog__posts {
  background-repeat: no-repeat;
  max-width: 1200px;
  padding-top: 10%;
  padding-right: 10%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;  
  margin-left: 10%;
  margin-right: 0%;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.music {
  padding: 0px;
  background-color: transparent;
  min-height: 0px;
  margin: 8px;
  margin-bottom: 0px;
  align-items: center;
}
.pandemic {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  justify-content: center;
  background-color: #827e45;
}
#ingredients {
  padding-left: 20px;
  min-height: 100%;
  background-color: #b9b46e;
  background-image: url(images/napkin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
button.mdl-button {
  background-color: #827e45;
  color: white;
  font-size: 1rem;
}
.music-button {
  vertical-align: center;
  min-width: 80%;
  max-width: 100%;
  margin:10px;
  align-self: center;
  background-color: #ffb308;
}
.force-opaque::placeholder {
  opacity: 1;
}
.demo-blog.mdl-layout .mdl-layout__content {
  padding-top: 230px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
#ingredients  {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 450px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
#intoxicated {
  align-self: center;
  margin-bottom: 30px;
}

#title {
 width: 80%;
 height: auto;
 margin-bottom: 20%;
}

.field {
  max-width: 70%;
}
#youtube {
  background-image: url(images/Youtube-thumbnail.png);
  background-size: cover;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 100%;
}
#favorites {
  cursor: pointer;
  padding-bottom: 15px;
}
#recipe {
  justify-content: center;
  background-color: #827e45;
  box-sizing: border-box;
  background-size: cover;
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
   -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#instructions {
  margin: 2rem;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
#reset {
  background-color: #ffb308;
  color: white;
}
.reset-button {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*.minus {
  float: left;
  margin-left: 10px;
}
.favoriteCocktails {
  float: left;
  justify-content: left;
  /*margin-right: 50px;
}*/
#cocktail-name {
  margin: 1%;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 24px;
  font-weight: 700px;
  color: white;
}
.mdl-chip {
  background-color: #ffb308;
  color: white;
  margin: 10% 10% 10% 10%;
}
.demo-blog .mdl-card__title {
  padding: 16px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-blog .mdl-card__media.pandemic {
  box-sizing: border-box;
  background-size: cover;
  min-height: 50px;
  padding: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 0.25;
      -ms-flex-positive: 0.25;
          flex-grow: 0.25;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.demo-blog .mdl-card__media a,
.demo-blog .mdl-card__title a {
  background-color: #827e45;
}
.demo-blog .mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-blog .mdl-card__supporting-text {
  line-height: 30px;
  font-family: "Helvetica";
  font-size: 21px;
  color: white;
  justify-content: center;
  align-items: flex-end;
  border-radius: 30px;
}
.demo-blog .mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}
.demo-blog .mdl-card__actions:first-child {
  margin-left: 0;
}
.demo-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}
.demo-blog .meta > .meta__favorites{
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
}
.demo-blog .meta > .meta__favorites .material-icons {
  font-size: 2em;
}
.demo-blog .mdl-card .meta.meta--fill {
  background-color: #827e45;
  -webkit-justify-content: center;
      -ms-flex-pack: justify;
          justify-content: center;
  font-family: "Cinzel", serif;
  font-size: 20px;
  color: white;
}
.demo-blog .meta > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.cocktail-pic {
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.something-else {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}
.cocktail-buttons {
  height: 100%;
  width: 100%;
}
.cocktail-pic {
  background-image: url(images/Toast.jpg);
  /*background-position-y: top;*/
  object-fit: scale-down;
  min-height: 400px;
  max-height: 100%;
}
.demo-blog .something-else .mdl-card__media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-blog .something-else > button {
  background-color: #827e45;
  position: absolute;
  top: 0;
  right: 28px;
  -webkit-transform: translate(0px, -28px);
          transform: translate(0px, -28px);
}
.demo-blog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.demo-blog .something-else .mdl-card__media img {
  width: 164px;
  height: 164px;
  margin-bottom: 10px;
}
.demo-blog .something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.demo-blog .demo-blog__posts > .demo-nav {
  margin: 12px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background-color: #827e45;
  font-weight: 500;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button {
  background-color: #827e45;
  text-decoration: none;
}
.demo-blog .demo-blog__posts > .demo-nav .mdl-button {
  color: rgba(0,0,0,0.54);
  background-color: #827e45;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:first-child .mdl-button {
  margin-right: 16px;
  background-color: #827e45;
}
.demo-blog .demo-blog__posts > .demo-nav > .demo-nav__button:last-child .mdl-button {
  margin-left: 16px;
  background-color: #827e45;
}
.demo-blog .mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}
.demo-blog .mdl-card h3 {
  margin: 0;
}
.demo-blog .mdl-card h3 a {
  text-decoration: none;
}
.demo-blog .mdl-card h3.quote:before, .demo-blog .mdl-card h3.quote:after {
  display: block;
  font-size: 3em;
  margin-top: 0.5em;
}
.demo-blog .mdl-card h3.quote:before {
  content: '“';
}
.demo-blog .mdl-card h3.quote:after {
  content: '”';
}
div#recipe.mdl-card__media mdl-color-text--grey-50.pandemic {
  padding: 0px;
  align-items: flex-end;
}
.demo-blog--blogpost .custom-header {
  background-color: transparent;
}
.demo-blog--blogpost .meta > * {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-blog--blogpost .meta + .mdl-card__supporting-text {
  border: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.demo-blog--blogpost .meta + .mdl-card__supporting-text p {
  max-width: 512px;
  margin: 16px auto;
  font-size: 16px;
  line-height: 28px;
}
.demo-blog--blogpost .demo-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
.demo-blog .section-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-blog .something-else {
  overflow: visible;
  z-index: 10;
}
.demo-blog .amazing .mdl-card__title {
  background-color: #263238;
}
.mdl-grid {
  margin-top: 0px;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
h1 {
  margin: 1rem;
  margin-bottom: 0%;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 28px;
  font-weight: 700;
  color: #ffb308;
}
h2 {
  margin: 1%;
  justify-content: center;
  font-family: "Cinzel", serif;
  font-size: 24px;
  font-weight: 700px;
  color: white;
}
div.favorite-title {
  margin: 1%;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 24px;
  font-weight: 700px;
  color: white;
}
.mdl-card {
  border-radius: 30px;
}
.mdl-button {
  border-radius: 30px;
}
.demo-blog .something-else .mdl-card__supporting-text {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#favorites-card {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

mdl-card__media mdl-color--white mdl-color-text--grey-600 {
  background-color: #b9b46e;
}